<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using transformations 
	 see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<pipelines>
			<mvc.renderRendering>
				<processor
					patch:instead="*[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']"
					type="Constellation.Sitecore.Presentation.Mvc.Pipelines.RenderRendering.GenerateCacheKey, Constellation.Sitecore.Presentation.Mvc"
				/>
				<processor 
					patch:instead="*[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.AddRecordedHtmlToCache, Sitecore.Mvc']" 
					type="Constellation.Sitecore.Presentation.Mvc.Pipelines.RenderRendering.AddRecordedHtmlToCache, Constellation.Sitecore.Presentation.Mvc"
				/>
			</mvc.renderRendering>
		</pipelines>
	</sitecore>
</configuration>